body {
  background:#f7fbfe;
}
#main {
  padding-left:30px;
  padding-right:30px;

}

.dark-outline {
  border-bottom:solid 1px #2b9fd9;
  border-top:solid 1px #2b9fd9;
}
.container {
}
.header-row {
  padding:20px;
  background:url('../img/triangle.svg') #e1f6fe;
  background-repeat:repeat-x repeat-y;
}
h1 {
  color:#2b9fd9;
  text-shadow:1px 1px #000;
}
h2 {
  padding: 10px 5px 10px 20px;
}
.project-item {
  padding:20px;
}
.project-img {
  padding:20px 10px 20px 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background:#e1f6fe;
border:solid 1px #97d0ed;
}
.project-img
{
opacity:0.9;
filter:alpha(opacity=70); /* For IE8 and earlier */
}
.project-img:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
.project-header {
  background:#b3dcf1;
  padding:20px 10px 20px 10px;
}
.project-date {
  color:#7d7d7d;
}
.project-desc {
  background:#e1f1fa;
  padding:20px 10px 40px 10px;
}
.highlight {
 background: #e1f6fe;
}
a, a:link, a:visited {
  color:#000;
}
